body{
    background: #e8e8e8    ;
}

.h1-cadastro{
    display: flex;
    justify-content: center;
    color: rgb(100, 173, 173);
    margin-bottom: 3rem;
}

form{
    display: flex; 
    flex-direction: column; 
    height: 70vh; 
    width: 30%; 
    margin: auto; 
    background: #354055; 
    border-radius: 25px; 
    align-items: center; 
    justify-content: center; 
    color: aliceblue;
    border: 1px black solid;
}

.input-text{
    color: #354055;
    border: none;
    border-radius: 4px;
    height: 20px;
    width: 100%;
}

.div-conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div-button{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    height: 30px;
}

.button-submit{
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 60%;
    transition: 0,2s;
}

.button-submit:hover{
    background-color: rgb(100, 173, 173);
}

