* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

body {
  background: #530791;
  height: 100vh;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h1-cadastro {
  display: flex;
  justify-content: center;
  color: #DEBC21;
  margin-top: 1rem;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 340px;
  margin: auto;
  background: #DEBC21;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: #530791;
}

.input-text {
  color: #000000;
  border: none;
  border-radius: 4px;
  height: 20px;
  width: 220px;
}

.div-conteudo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-button {
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
}

.button-submit {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  width: 120px;
  height: 30px;
  transition: 0.6s;
  background-color: #219100;
  font-size: 16px;
  font-weight: 700;
  color: #e8e8e8;
}

.button-submit:hover {
  background-color: #00451A;
}

.container {
  color: #DEBC21; 
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.text_p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-button {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  width: 15rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  background-color: #219100;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e8e8e8;
  text-align: center;
  text-decoration: none;
}

.container-button:hover {
  background-color: #00451A;
}
