* {
  font-family: 'Oswald', sans-serif;
}

body {
  background: #530791;
}

.h1-cadastro {
  display: flex;
  justify-content: center;
  color: #DEBC21;
  margin-bottom: 1rem;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  margin: auto;
  background: #DEBC21;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: #530791;
  padding: 5px;
}

.input-text {
  color: #000000;
  border: none;
  border-radius: 4px;
  height: 20px;
  width: 220px;
}

.div-conteudo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-button {
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
}

.button-submit {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  width: 120px;
  height: 30px;
  transition: 0.6s;
  background-color: #219100;
  font-size: 16px;
  font-weight: 700;
  color: #e8e8e8;
}

.button-submit:hover {
  background-color: #00451A;
}
