<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../public/css/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
  <title>Projeto Lanchonete</title>
</head>

<body>
  <div class="container-404">
    <img src="../../public/images/tela_404.png" alt="imagem 404">
  </div>
</body>

</html>