<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <main class="box-cadastro">
    <div class="navbar-login">
      <img src="../../public/images/logo_prato_rapido.png" alt="Logo - Prato Rápido" class="logo">
    </div>
    <div class="div-cadastro">
      <h1 class="h1-cadastro">
        Cadastro
      </h1>
      <form action="/api/cadastrar-pessoa" method="post">
        <div class="div-conteudo">
          <input type="text" name="nome" placeholder=" Nome completo..." class="input-text" autocomplete="off" required>
          <input type="email" name="email" placeholder=" Email..." class="input-text" autocomplete="off" required>
          <input type="password" name="senha" placeholder=" Senha..." class="input-text" autocomplete="off" required>
          <input type="text" name="cpf" placeholder=" CPF... (somente números)" class="input-text" autocomplete="off"
            required>
          <input type="text" name="endereco" placeholder=" Endereço completo..." class="input-text" autocomplete="off"
            required>
          <input type="number" min="18" max="130" name="idade" placeholder=" Idade..." class="input-text" required>
          <div class="div-button">
            <input class=button-submit type="submit" value="Cadastrar">
          </div>
        </div>
      </form>
    </div>
  </main>
</body>

</html>