<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/css/index.css" media="screen" />
  <link href="https: //fonts.googleapis.com/css2? family= Oswald:wght@700 & display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="h1-cadastro">Cadastrar Cliente</h1>
  <main>
    <form action="/api/cadastrarcliente" method="post">
      <div class="div-conteudo">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" class="input-text" required placeholder=" Insira nome">
        <label for="email">Email:</label>
        <input type="email" name="email" class="input-text" required placeholder=" Insira email">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" class="input-text" required placeholder=" Insira senha">
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" class="input-text" required placeholder=" Insira CPF">
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" class="input-text" required placeholder=" Insira endereço">
        <label for="idade">Idade:</label>
        <input type="number" name="idade" class="input-text" required placeholder=" Insira idade">
        <div class="div-button">
          <input class=button-submit type="submit" value="Cadastrar">
        </div>
      </div>
    </form>
    </form>
  </main>
</body>

</html>