<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../public/css/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
  <title>Projeto Lanchonete</title>
</head>

<body>
  <main class="box">
    <h1 class="h1-cadastro">
      Login
    </h1>
    <form action="/api/login/cadastro_cliente" method="post">
      <div class="div-conteudo">
        <label for="email">
          Email:
        </label>
        <input type="email" name="email" placeholder=" Digite o seu email..." class="input-text" autocomplete="off" required>
        <label for="senha">
          Senha:
        </label>
        <input type="password" name="senha" placeholder=" Digite a sua senha..." class="input-text" autocomplete="off" required>
        <div class="div-button">
          <input class=button-submit type="submit" value="Entrar">
        </div>
      </div>
    </form>
  </main>
</body>

</html>