<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../public/css/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
  <title>Projeto Lanchonete</title>
</head>

<body>
  <main class="box">
    <div class="navbar-login">
      <img src="../../public/images/logo_prato_rapido.png" alt="Logo - Prato Rápido" class="logo">
    </div>
    <div class="container-home">
      <form action="/api/login" method="get" class="formulario">
        <div class="div-text">
          <h2 class="frase">
            Falta
            <span class="text-destaque">
              pouco
            </span>
            para matar a sua
            <span class="text-destaque">
              fome<span style="color: #F8EAE5;">!</span>
            </span>
          </h2>
        </div>
        <div class="div-login">
          <h1 class="h1-login">
            Login
          </h1>
          <div class="div-inputs">
            <input type="email" name="email" placeholder=" Email..." class="input-text" autocomplete="off" required>
            <input type="password" name="senha" placeholder=" Senha..." class="input-text" autocomplete="off" required>
            <div class="div-button">
              <input class=button-submit type="submit" value="Entrar">
            </div>
            <div>
              <a style="color: #E25700;" href="/cadastroCliente">
                Não possui conta?
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</body>

</html>